/* Google Fonts
font-family: 'Caveat', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.main-content {
  min-height: 100vh;
  background: linear-gradient(
    97deg,
    rgb(255, 252, 214) 0%,
    rgb(255, 204, 202) 85%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #314a52;
}

.projects__title {
  font-size: 68px;
  font-weight: 700;
  font-family: "Poiret One", cursive;
  padding: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 350px) {
  .projects__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 350px;
    height: 450px;
    background-image: linear-gradient(
      -15deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.08)
    );
    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
  }

  .projects__name {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(49, 74, 82, 0.5);
    max-width: 120px;
  }

  .projects__img {
    width: 150px;
    height: 120px;
    border-radius: 5px;
    position: absolute;
    top: 128px;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .projects__description {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0px 8px;
    position: absolute;
    top: 252px;
  }

  .projects__button {
    position: absolute;
    bottom: 25px;
    right: 128px;
    padding: 8px;
    border-radius: 8px;
    background-color: #314a52;
    color: #fae3e3;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 350px) {
  .projects__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 250px;
    height: 450px;
    background-image: linear-gradient(
      -15deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.08)
    );
    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    position: relative;
  }

  .projects__name {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(49, 74, 82, 0.5);
    max-width: 120px;
  }

  .projects__img {
    width: 150px;
    height: 120px;
    border-radius: 5px;
    position: absolute;
    top: 113px;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .projects__description {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0px 8px;
    position: absolute;
    top: 240px;
  }

  .projects__button {
    position: absolute;
    bottom: -15px;
    right: 78px;
    padding: 8px;
    border-radius: 8px;
    background-color: #314a52;
    color: #fae3e3;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

/*FOOTER SECTION*/
.footer {
  background: #314a52;
  border-top: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.footer__createdBy {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
}

.footer__media {
  padding: 5px 30px;
  color: #ffded5;
}

.footer__media:hover {
  color: #fae3e3;
  font-size: 42px;
}

.footer__code a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer__code a:hover {
  text-decoration: underline;
}

@media (hover) {
  .projects__card {
    transition: transform 500ms ease;
  }

  .projects__card:hover,
  .projects__card:focus-within {
    transform: scale(1.05);
  }

  .projects__card:focus-within {
    transition-duration: 0ms;
  }

  .projects__img {
    transform: translateX(-200%);
    transition: transform 750ms ease-in;
  }

  .projects__card:hover .projects__img,
  .projects__card:focus-within .projects__img {
    transform: translateX(0);
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(50%);
    transition: transform 750ms ease;
  }

  .projects__card:hover .card-content,
  .projects__card:focus-within .card-content {
    transform: translateY(-60%);
    transition-delay: 750ms;
  }

  .projects__card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .projects__description {
    position: relative;
  }

  .projects__button {
    position: relative;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
